body{
    font-family: 'Righteous',
    cursive;
}
h1{
    color: rgb(75, 24, 24);
}
.colorj{
    color:blue
}
.first{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.first img{
    width: 100%;

}
